body {
	background-image: url("santorini.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: red;
}
